/* Asegura que el dashboard ocupe toda la pantalla y tenga un fondo claro */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff; /* Fondo claro */
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.option .icon {
  font-size: 32px;
  margin-bottom: 10px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}


